*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.buttonVoltar{
    position: fixed;
    margin: 10px 0 0 10px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.421);
}
.buttonVoltar:hover{
    transform: scale(0.9);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.container-corpo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-nov{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    margin: 15px;
    border-radius: 10px;
    background-color: #E3E3E3;
    border: 1px solid #00000005;
    box-shadow: rgba(0, 0, 0, 0.095) 0px 19px 38px, rgba(0, 0, 0, 0.089) 0px 15px 12px;
    transition: all 0.9s;
}
.card-nov:hover{
    cursor: pointer;
    transition: all 0.9s;
    border: 1px solid #00000064;
    transform: scale(1.1);
}
.containerprecotitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
}
.preco{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}
h3{
    color: #fff;
}