
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-color: #f06124;
    --secondary-color: #2ecc71;
    --font-color: #333;
    --background-color: #f4f4f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
header .logotipo {
    width: 80px;
    height: auto;
    margin: 10px;
    border-radius: 50%;  
}

.icone-menu  {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 10px;
    color: #333;
}
.menu-navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -30%;
    height: 100vh;
    background-color: #33333392;
    backdrop-filter: blur(10px);
    width: 200px;
    gap: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.icone-fechar{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
    align-self: flex-start;
    box-shadow: 2px 2px 20px rgba(37, 32, 32, 0.438);
    border-radius: 5px;
    transition: 0.8s ease-in-out;
}
.icone-fechar:hover{
    transition: 0.8s ease-in-out;
    background-color: #ffffff;
}
.menu-navegacao a {
    color: var(--font-color);
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.container-corpo {
    width: 100%;
    padding: 20px;
}
.apresentacao {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'IBM Plex Serif', serif;
}

.card-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    height: 100vh;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.card-secao h2 {
    margin-bottom: 10px;
    font-family: 'IBM Plex Serif', serif;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.223);
}
.produtoNovidade, .produtoRoupa {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}