*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width:768px){
.card-secao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100vw;
}
.carregarNovidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 200px;
        background-color: var(--color-bg);
        box-shadow: 2px 2px -2px #00000020;
        
    }
   
    .carregarNovidades img {
        width: 200px;
        height: 240px;
        object-fit: cover;
    }
     .carregarNovidades p {
        font-size: 16px;
        font-weight: 900;
        
    }
      .verProdutoNovidades {
        padding: 10px;
        width: 70%;
        background-color: var(--color-primary);
        border: none;
        color: var(--color-bg);
        border-radius: 5px;
        margin-bottom: 15px;
        box-shadow: 1px 1px 3px #000;
        transition: opacity .3s ease-in-out;
        cursor: pointer;
        
    }
   

}