*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:768px){
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        width: 100vw;
        height: 100vh;

        .nomeProduto{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 500;
            font-size: 20px;
            margin-top: 70px;
        }
        .precoProduto{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .descricaoProduto{
            font-size: 14px;
            font-weight: 300;
            width: 70%;
            text-align: center;
        }
        .imgProduto{
            width: 70vw;
            height: 70vw;
            object-fit: cover;
            margin-bottom: 10px;
            transition: transform .3s ease-in-out;
        }
        .imgProduto:hover{
            transform: scale(1.03);
        }
       
        h2{
                font-weight: bold;
                font-size: 16px;
                align-self: flex-start;
                margin-left: 20px;
                
         }
        .containerNumeracao{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 80%;
            height: auto;
            gap: 10px;
            margin-bottom: 10px;
           


            button{
                margin-top: 10px;
                padding: 5px;
                width: 70px;
                height: 30px;
                font-size: 14px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                box-shadow: 2px 2px 2px 3px #0000002d;
                transition: opacity .3s ease-in-out , transform .3s ease-in-out;
            }
             button:hover{
                opacity: 65%;
                transform: scale(1.02);

             }
        }
         .buttonCarrinho{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 10px ;
                margin-top: 20px;
                background-color: #000;
                border: none;
                color: #fff;
                border-radius: 10px;
                width: 70vw;
                font-size: 16px;
                font-weight: bold;
                transition: transform .3s ease-in-out ,opacity .3s ease-in-out;

                img{
                    width: 16px;
                    filter: drop-shadow(0 2px 5px #ffffff6e)  ;
                }
             }
             .buttonCarrinho:hover{
                transform: scale(1.01);
                opacity: 85%;
                cursor: pointer;
             }
    }
}
.overlay{
    position: fixed;
    inset: 0;
    background-color:rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}
@keyframes notificacao {
    from{
        opacity: 0;
        transform: translatex(-200px);
    }

}
.notificacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    animation: notificacao 1.2s ease-in-out forwards; 
 }
}