* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
}

main .pageCarrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    h2 {
        font-size: 20px;
    }

     p {
        font-size: 14px;
    }
    .item-carrinho{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        background-color: #f5f5f5;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

        img {
            width: 80px;
            height: 80px;
            background-color: #000;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .detalhesItem{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
        }
        .buttonsItens{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            gap: 14px;
        }
        .quantidade{
            font-size: 14px;
            padding: 3px 10px;
            border: 1px solid #00000033;
            border-radius: 5px;
        }
        .removerItem{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
        }
        .removerItem img{
            margin-top: 5px;
            width: 20px;
            height: 20px;
            background-color: transparent;
            object-fit: cover;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .buttonComecar {
        width: 55%;
        padding: 10px;
        margin-top: 25px;
        background-color: #000;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    }

    .buttonComecar:hover {
        opacity: 0.8;
        transform: scale(1.01);
    }
}