@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
          /* Cores */
    --color-primary:#111111;
    --color-secondary:#E8D8C4;
    --color-bg :#F5F5F5;

        /* Fontes */
    --font-title: 'Playfair Display',serif;
    --font-text: 'Montserrat', sans-serif;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: (var(--font-text));
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Mobile-firts */
@media (max-width: 768px){
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-color:#ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
header .nav-bar{
    display: flex;;
    align-items: center;
    justify-content: space-between;
    width: 85%;


    .icones{
        display: flex;
        align-items: center;
        gap: 20px;

        .iconeCarrinho, .icone-menu{
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: opacity .3s ease-in-out;
        }
        .iconeCarrinho:hover, .icone-menu:hover{
            opacity: 0.3;
        }

    }
}


header nav .logotipo {
    width: 50px;
    height: auto;
    margin: 10px;
    border-radius: 50%;
}

 .menu-navegacao {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items:center ;
    width: 100%;
    height: 100vh;
    background-color:#fbf6f6;
    clip-path: circle(0% at 100% 0%);
    gap: 50px;
    z-index: 998;

}
.menu-navegacao .menu-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.menu-links a {
    width: 100px;
    color: #0d0d0d;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}


.icone-fechar {
    justify-self: end;
    align-self: flex-start;
    margin: 10px 0 0 15px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}


.container-corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.apresentacao {
    text-align: center;
    margin: 20px;
    font-weight: 400;
    font-style: normal;

    h1{
        font-family: var(--font-title);
        font-size: 28px;
    }
}

.card-secao{
    padding: 10px;
    min-height: 100vh;
    overflow: hidden;
}


#card-novidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100vw;
    min-height: 100vh;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: url(/assets/images/keagan-henman-XYtuOYfIg_M-unsplash.jpg);
    background-position: center ;
    background-size: cover;


        
    .titleNovidades{
        font-family: var(--font-title);
        font-weight: 700;
        color: var(--color-primary);
        border-radius: 10px 0;
        background: rgba(30, 28, 28, 0.53);
        backdrop-filter: blur(4px);
        padding: 20px 40px;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }

    .buttonnovidades{
        background: #000;
        color: #fff;
        font-family: var(--font-text);
        font-weight: bold;
        font-size: 16px;
        border: none;
        width: 200px;
        padding: 20px 32px;
        font-weight: 600;
        cursor: pointer;
        border-radius: 10px 0;
        border-top:  3px solid ;
        border-bottom: 3px solid ;
        

    }
}


.containerRoupas {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10px;
}
.buttonmascfemin {
    position: relative;
    padding: 10px;
    width: 40%;
    border: none;
    background-color: #fff;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    border-bottom: 1px solid #0000004e;
    cursor: pointer;
}

#buttonmasc::after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #000;
    transition:  0.7s ease-in-out;
}
#buttonmasc.active::after{
    width: 100%;
}
#buttonfemin::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #000;
    transition: 0.7s ease-in-out;
}
#buttonfemin.active::after{
    width: 100%;
}


.buttonmascfemin.active {
    transition: 0.9s ease-in-out;
    font-weight: bold;
}
.cardroupa h2{
    align-self: end;

}
.produtoRoupa {
    display: flex;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 10px #00000060;
    overflow: hidden;
    padding: 5px;
    border-radius: 50%;
    margin: 20px;

}
.linkroupas{
    cursor: pointer;
}
#card-roupas{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}
.carregarProducts{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    min-height: 60vh;
  
  

    .mostrarProducts{
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 200px;
        background-color: var(--color-bg);
        box-shadow: 2px 2px -2px #00000020;
        transition: all 2s ease-in-out;
        pointer-events: none;
        img{
            width:200px;
            height: 240px;
            object-fit: cover;
        }
        p{
            font-size: clamp(16px, 1vw, 30px);
            font-weight: 900;
        }
        button{
            padding: 10px;
            width: 70%;
            background-color: var(--color-primary);
            border: none;
            color: var(--color-bg);
            border-radius: 5px;
            margin-bottom: 15px;
            box-shadow: 1px 1px 3px #000;
            cursor: pointer;
            transition: opacity .3s ease-in-out;
        }
        button:hover{
            opacity: 80%;
        }

    }
   
}

.mostrarProducts.ativo{
   opacity: 1;
   transition: opacity 2s ease-in-out;
     pointer-events: auto;
  
}
.active{
    opacity: 1;
    transition: all .5s;
}
.buttons{
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.buttonProximo, .buttonAnterior{
    border: 1px solid #00000043;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #000;
    color: #ffff;
}
.duvidas, .sobre{
    margin: 10px 0;
    width: 85%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    text-indent: 50px;
    font-size: 12px;
    border-bottom: 1px solid #fff;
}
.duvidas summary, .sobre summary{
    cursor: pointer;
    list-style-type: none;
}
details{
    width: 100%;
}
details a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: #fff;
    font-weight: bolder;
    transition: all 0.5s;
}
details a:hover{
    opacity: 50%;
    transition: all 0.5s;
}
.contatos,.formaPagamentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 500px;
    margin: 20px 0;
    font-size: 16px;
}
.contatos article, .formaPagamentos article{
    display: flex;
    padding: 5px;
    gap: 15px;
    margin: 30px 0 ;
}
.contatos p a img {
    width: 35px;
    padding: 5px;
    border: 1px solid #ffffff2f;
    box-shadow: 2px 2px 5px inset #ffffff2d;
    border-radius: 10px;
}
.imgFormaPagamentos{
    width: 35px;
    padding: 5px;
    background-color: #fffafa7f;
    border: 1px solid #ffffff2f;
    box-shadow: 2px 2px 5px inset #ffffff2d;
    border-radius: 10px;
}
.linha{
    width: 85%;
    border: 1px solid  #ffff;
    margin: 20px 0;
    box-shadow: 2px 2px 5px inset #ffffff2d;

}
.enderçoDireitos{
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
}